{% extends 'install_updates/layout.html'%}
{% block content %}
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{url_for('dashboard.dashboard')}}">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">Install - Updates</li>
    </ol>
  </nav>
  <h6 class="border-bottom pb-2 mb-0 pt-3">Current Installed Versions</h6>
  <!--FreeRDP-->
  {% if is_freerdp == "nop" %}
    <div class="d-flex text-muted pt-3">
      <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#e74c3c"/><text class="fw-bold fs-3" x="20%" y="50%" fill="#ffff" dy=".3em">F</text></svg>
        <p class="pb-3 mb-0 small lh-base text-dark">
          <strong class="d-block text-dark">FreeRDP</strong>
          Currently FreeRDP is not installed in your system. For updated version of FreeRDP, checkout <a href="https://packages.ubuntu.com/search?keywords=freerdp" target="_blank">Ubuntu - Package freerdp-x11</a><br>
          Run below command from your terminal, for installing FreeRDP.
        </p>
    </div>
    <div class="alert alert-dark" role="alert">
      <p class="font-monospace">$ sudo apt-get update</p>
      <p class="font-monospace">$ sudo apt-get install -y freerdp2-x11</p>
    </div>
  {% else %}
    <div class="d-flex text-muted pt-3">
      <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#27ae60"/><text class="fw-bold fs-3" x="20%" y="50%" fill="#ffff" dy=".3em">F</text></svg>
        <p class="pb-3 mb-0 small lh-base border-bottom text-dark">
          <strong class="d-block text-dark">FreeRDP</strong>
          Currently installed version of FreeRDP in your system is : <span class="badge bg-primary">{{is_freerdp}}</span>  <br>
          For updated version of FreeRDP, checkout <a href="https://packages.ubuntu.com/search?keywords=freerdp" target="_blank">Ubuntu - Package freerdp-x11</a>
        </p>
    </div>
  {% endif %}
  <!--Google Chrome Browser-->
  {% if is_google == "nop" %}
    <div class="d-flex text-muted pt-3">
      <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#e74c3c"/><text class="fw-bold fs-3" x="20%" y="50%" fill="#ffff" dy=".3em">G</text></svg>
        <p class="pb-3 mb-0 small lh-base border-bottom text-dark">
          <strong class="d-block text-dark">Google Chrome</strong>
          Currently Google Chrome Browser is not installed in your system. For latest news and updates on Google Chrome, checkout <a href="https://www.google.com/intl/en_in/chrome/" target="_blank">Google Chrome Browser</a><br>
          Run below command from your terminal, for installing Google Chrome Browser.
        </p>
    </div>
    <div class="alert alert-dark" role="alert">
      <p class="font-monospace">$ sudo apt-get update</p>
      <p class="font-monospace">$ wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | sudo apt-key add -</p>
      <p class="font-monospace">$ sudo sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google-chrome.list'</p>
      <p class="font-monospace">$ sudo apt-get update</p>
      <p class="font-monospace">$ sudo apt install google-chrome-stable</p>
    </div>
  {% else %}
    <div class="d-flex text-muted pt-3">
      <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#27ae60"/><text class="fw-bold fs-3" x="20%" y="50%" fill="#ffff" dy=".3em">G</text></svg>
        <p class="pb-3 mb-0 small lh-base border-bottom text-dark">
          <strong class="d-block text-dark">Google Chrome</strong>
          Currently installed version of Google Chrome in your system is : <span class="badge bg-primary">{{is_google}}</span>  <br>
          For latest news and updates on Google Chrome, checkout <a href="https://www.google.com/intl/en_in/chrome/" target="_blank">Google Chrome Browser</a>
        </p>
    </div>
  {% endif %}  
{% endblock content %}
