{% extends 'dashboard/layout.html'%}
{% block content %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{url_for('dashboard.dashboard')}}">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit Connection</li>
        </ol>
    </nav>
    <h3 class="pb-3 mb-4 border-bottom">FreeRDP</h3>
    <form action="" method="post">
        {{form.hidden_tag()}}
        <div class="row mb-3">
          <label for="inputFreeRDPConnection" class="col-sm-2 col-form-label">Connection Name</label>
            {{form.connection_name(class="form-control w-50",value=freerdpconnection.connection_name,readonly="readonly")}}
        </div>
        <div class="row mb-3">
            {% if freerdpconnection.server == " " %}
                <label for="inputFreeRDPConnection" class="col-sm-2 col-form-label">Server</label>
                {{form.server_address(class="form-control w-50")}}
            {% else %}
                <label for="inputFreeRDPConnection" class="col-sm-2 col-form-label">Server</label>
                {{form.server_address(class="form-control w-50",value=freerdpconnection.server)}}
            {% endif %}
        </div>
        <div class="row mb-3">
          <label for="inputFreeRDPConnection" class="col-sm-2 col-form-label">Parameters</label>
          <div class="col-sm-6">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Basic Settings
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="col-auto">
                        {% if freerdpconnection.resolutionfullscreen %}
                            {{form.resolution_fullscreen(class="form-check-input",**{'checked':''})}}
                            <label class="form-check-label" for="autoSizingCheck">FullScreen</label>
                        {% else %}
                            {{form.resolution_fullscreen(class="form-check-input")}}
                            <label class="form-check-label" for="autoSizingCheck">FullScreen</label>
                        {% endif %}
                      </div>
                      <div class="col-auto">
                        {% if freerdpconnection.resolutionmultimon %}
                            {{form.resolution_multimon(class="form-check-input",**{'checked':''})}}
                            <label class="form-check-label" for="autoSizingCheck">Enable multi monitor</label>
                        {% else %}
                            {{form.resolution_multimon(class="form-check-input")}}
                            <label class="form-check-label" for="autoSizingCheck">Enable multi monitor</label>
                        {% endif %}
                      </div>
                      <div class="col-auto">
                        {% if freerdpconnection.resolutionspan %}
                            {{form.resolution_span(class="form-check-input",**{'checked':''})}}
                            <label class="form-check-label" for="autoSizingCheck">Span screen over multiple monitors</label>
                        {% else %}
                            {{form.resolution_span(class="form-check-input")}}
                            <label class="form-check-label" for="autoSizingCheck">Span screen over multiple monitors</label>
                        {% endif %}
                      </div>
                      <div class="col-auto">
                        {% if freerdpconnection.restricadminmode %}
                            {{form.restric_admin_mode(class="form-check-input",**{'checked':''})}}
                            <label class="form-check-label" for="autoSizingCheck">Restricted admin mode</label>
                        {% else %}
                            {{form.restric_admin_mode(class="form-check-input")}}
                            <label class="form-check-label" for="autoSizingCheck">Restricted admin mode</label>
                        {% endif %}
                      </div>
                      <div class="col-auto">
                        {% if freerdpconnection.floatbar %}
                            {{form.float_bar(class="form-check-input",**{'checked':''})}}
                            <label class="form-check-label" for="autoSizingCheck">Floatbar</label>
                        {% else %}
                            {{form.float_bar(class="form-check-input")}}
                            <label class="form-check-label" for="autoSizingCheck">Floatbar</label>
                        {% endif %}
                      </div>
                  </div>
                  <div class="row">
                    <label class="col-form-label mt-3" for="autoSizingCheck">Network connection type</label>
                    <div class="col-sm-5">
                      <select class="form-select" name="select-network-connection" aria-label="Default select example">
                        {% if freerdpconnection.networkconnectiontype == "none" %}
                            <option value="none" selected>None</option>
                        {% else %}
                          <option value="none">None</option>
                        {% endif %}
                        
                        {% if freerdpconnection.networkconnectiontype == "modem" %}
                            <option value="modem" selected>Modem</option>
                        {% else %}
                          <option value="modem">Modem</option>
                        {% endif %}

                        {% if freerdpconnection.networkconnectiontype == "broadband-low" %}
                            <option value="broadband-low" selected >Low performance broadband</option>
                        {% else %}
                          <option value="broadband-low">Low performance broadband</option>
                        {% endif %}

                        {% if freerdpconnection.networkconnectiontype == "broadband-high" %}
                            <option value="broadband-high" selected>High performance broadband</option>
                        {% else %}
                          <option value="broadband-high">High performance broadband</option>
                        {% endif %}

                        {% if freerdpconnection.networkconnectiontype == "wan" %}
                            <option value="wan" selected>WAN</option>
                        {% else %}
                          <option value="wan">WAN</option>
                        {% endif %}

                        {% if freerdpconnection.networkconnectiontype == "lan" %}
                            <option value="lan" selected>LAN</option>
                        {% else %}
                          <option value="lan">LAN</option>
                        {% endif %}
                      </select>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Advanced Settings
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="col-auto">
                        {% if  freerdpconnection.secnla %}
                            {{form.sec_nla(class="form-check-input",**{'checked':''})}}
                            <label class="form-check-label" for="autoSizingCheck">Enable NLA protocol security</label>
                        {% else %}
                            {{form.sec_nla(class="form-check-input")}}
                            <label class="form-check-label" for="autoSizingCheck">Enable NLA protocol security</label>
                        {% endif %}
                      </div>
                      <div class="col-auto">
                        {% if freerdpconnection.secrdp %}
                            {{form.sec_rdp(class="form-check-input",**{'checked':''})}}
                            <label class="form-check-label" for="autoSizingCheck">Enable RDP protocol security</label>
                        {% else %}
                            {{form.sec_rdp(class="form-check-input")}}
                            <label class="form-check-label" for="autoSizingCheck">Enable RDP protocol security</label>
                        {% endif %}
                      </div>
                      <div class="col-auto">
                        {% if freerdpconnection.sectls %}
                            {{form.sec_tls(class="form-check-input",**{'checked':''})}}
                            <label class="form-check-label" for="autoSizingCheck">Enable TLS protocol security</label>
                        {% else %}
                            {{form.sec_tls(class="form-check-input")}}
                            <label class="form-check-label" for="autoSizingCheck">Enable TLS protocol security</label>
                        {% endif %}
                      </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="mb-3">
            {{form.submit(class="btn btn-success btn-sm")}}
        </div>
    </form>
{% endblock content %}